* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex; 
    justify-items: center;
    background-color: #1f2937;
    flex-direction: column;
    padding: 18px 20% 0 20%;
}

.header {
    display: flex;
}

.header p{
    color: #f9faf8;
    flex: 1;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #e5e7eb;   
    font-size: 18px;
}

.hero-main {
    display: flex;
    padding: 50px 0 75px 0;
}

.left,
.right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.left .heading{
    font-size: 48px;
    color: #f9faf8;
}

.left .text {
    font-size: 18px;
    color: #e5e7eb; 
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    width:fit-content;
    padding: 5px 20px;
    color: white;
    font-size: 18px;
}

.right {
    background-color: gray;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 0 20% 0 20%;
    align-items: center;
}

.information .header{
    font-size: 36px;
    font-weight: 800;
    padding: 36px 0;
    text-align: center;
}

.cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 75px 0;
}

.card {
    width: 180px;
}

.card div {
    height: 180px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.card p {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    padding: 75px 20% 75px 20%;
    align-items: center;
}

.quote .text{
    font-style: italic; 
    text-align: justify;
    text-justify: inter-word;
    padding: 0 10%;
}

.quote .author {
    font-weight: 700;
    align-self: flex-end;
    padding: 0 10%;
}

.call {
    display: flex;
    padding:75px 20% 75px 20%;
}

.call .container {
    display: flex;
    flex: 1;
    background-color: #3882f6;
    border-radius: 8px;
    height: 160px;
    align-items: center;
    padding: 25px 100px;
    color: white;
    font-size: 18px;
}

.call button {
    margin-left: auto;
    border: 1px solid white;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    background-color: #1f2937;
    padding:40px 20% 40px 20%;
}