* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex; 
    justify-items: center;
    background-color: #1f2937;
    flex-direction: column;
    padding: 18px 20% 0 20%;
}

.header {
    display: flex;
}

.header p{
    color: white;
    flex: 1;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #e5e7eb;   
    font-size: 18px;
}

.hero-main {
    display: flex;
    padding: 50px 0;
    
}

.left,
.right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.left .heading{
    font-size: 48px;
    color: #f9faf8;
}

.left .text {
    font-size: 18px;
    color: #e5e7eb; 
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    width:fit-content;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
}

.right {
    background-color: gray;
    align-items: center;
    justify-content: center;
}

